<wicket:panel>
<div class="navbar-menu">
<div class="logo">
  <a wicket:id="link-home">Dreemlines</a>
</div>
	<ul>
		<li><a wicket:id="link-flights"><wicket:message key="menu.flights"/></a></li>
		<li><a wicket:id="link-employee"><wicket:message key="menu.employee"/></a></li>
		<li><a wicket:id="link-aircrafts"><wicket:message key="menu.aircraft"/></a></li>
		<li><a wicket:id="link-users"><wicket:message key="menu.users"/></a></li>
		<li style="float:right"><a wicket:id="link-login"><wicket:message key="menu.login"/></a></li>
		<li style="float:right"><a wicket:id="link-logout"><wicket:message key="menu.logout"/></a></li>
	</ul>
</div>	
</wicket:panel>


