<wicket:extend xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
<div class="navbar-menu">
<div class="logo">
  <a wicket:id="link-home"><wicket:message key="menu.home"/></a>
</div>
	<ul>
		<li><a wicket:id="link-flights">Airlines</a></li>
		<li><a wicket:id="link-employee"><wicket:message key="menu.employee"/></a></li>
		<li><a wicket:id="link-aircrafts"><wicket:message key="menu.aircraft"/></a></li>
		<li style="float:right"><a wicket:id="link-login"><wicket:message key="menu.login"/></a></li>
		<li style="float:right"><a wicket:id="link-logout"><wicket:message key="menu.logout"/></a></li>
	</ul>
</div>	
</wicket:panel>

